# Module 1

### Query 1.1 
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [2]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv(r"C:\Users\Dell\MINDAIND.csv")

In [4]:
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDAIND,EQ,15-May-2017,495.65,495.95,522.00,495.90,522.00,517.90,514.90,110264,5.677483e+07,3648,68819,62.41
1,MINDAIND,EQ,16-May-2017,517.90,523.70,568.00,500.10,551.00,545.60,543.53,1185514,6.443668e+08,28000,220287,18.58
2,MINDAIND,EQ,17-May-2017,545.60,555.00,571.00,541.15,559.00,560.10,558.38,465042,2.596686e+08,14208,181463,39.02
3,MINDAIND,EQ,18-May-2017,560.10,556.95,558.00,542.20,547.00,545.25,551.99,90333,4.986314e+07,3951,47989,53.12
4,MINDAIND,EQ,19-May-2017,545.25,549.70,588.80,547.00,560.00,560.80,568.56,371398,2.111632e+08,10466,184909,49.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,MINDAIND,EQ,07-May-2019,351.60,354.90,354.90,346.00,346.35,347.05,348.75,76556,2.669909e+07,6056,53021,69.26
491,MINDAIND,EQ,08-May-2019,347.05,350.00,352.00,346.00,350.00,350.35,349.79,41823,1.462933e+07,1764,25157,60.15
492,MINDAIND,EQ,09-May-2019,350.35,352.00,352.30,340.15,342.95,342.00,345.22,67267,2.322195e+07,2327,48953,72.77
493,MINDAIND,EQ,10-May-2019,342.00,344.75,349.90,340.00,347.00,345.15,345.18,88441,3.052768e+07,3123,47078,53.23
494,MINDAIND,EQ,13-May-2019,345.15,350.00,354.95,340.50,347.50,344.95,345.70,245445,8.485105e+07,11109,155350,63.29

In [5]:
clean_data = data[data.Series == 'EQ']

In [6]:
clean_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDAIND,EQ,15-May-2017,495.65,495.95,522.00,495.90,522.00,517.90,514.90,110264,5.677483e+07,3648,68819,62.41
1,MINDAIND,EQ,16-May-2017,517.90,523.70,568.00,500.10,551.00,545.60,543.53,1185514,6.443668e+08,28000,220287,18.58
2,MINDAIND,EQ,17-May-2017,545.60,555.00,571.00,541.15,559.00,560.10,558.38,465042,2.596686e+08,14208,181463,39.02
3,MINDAIND,EQ,18-May-2017,560.10,556.95,558.00,542.20,547.00,545.25,551.99,90333,4.986314e+07,3951,47989,53.12
4,MINDAIND,EQ,19-May-2017,545.25,549.70,588.80,547.00,560.00,560.80,568.56,371398,2.111632e+08,10466,184909,49.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,MINDAIND,EQ,07-May-2019,351.60,354.90,354.90,346.00,346.35,347.05,348.75,76556,2.669909e+07,6056,53021,69.26
491,MINDAIND,EQ,08-May-2019,347.05,350.00,352.00,346.00,350.00,350.35,349.79,41823,1.462933e+07,1764,25157,60.15
492,MINDAIND,EQ,09-May-2019,350.35,352.00,352.30,340.15,342.95,342.00,345.22,67267,2.322195e+07,2327,48953,72.77
493,MINDAIND,EQ,10-May-2019,342.00,344.75,349.90,340.00,347.00,345.15,345.18,88441,3.052768e+07,3123,47078,53.23
494,MINDAIND,EQ,13-May-2019,345.15,350.00,354.95,340.50,347.50,344.95,345.70,245445,8.485105e+07,11109,155350,63.29

In [7]:
clean_data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
490,MINDAIND,EQ,07-May-2019,351.60,354.90,354.90,346.00,346.35,347.05,348.75,76556,26699093.00,6056,53021,69.26
491,MINDAIND,EQ,08-May-2019,347.05,350.00,352.00,346.00,350.00,350.35,349.79,41823,14629334.60,1764,25157,60.15
492,MINDAIND,EQ,09-May-2019,350.35,352.00,352.30,340.15,342.95,342.00,345.22,67267,23221949.60,2327,48953,72.77
493,MINDAIND,EQ,10-May-2019,342.00,344.75,349.90,340.00,347.00,345.15,345.18,88441,30527679.75,3123,47078,53.23
494,MINDAIND,EQ,13-May-2019,345.15,350.00,354.95,340.50,347.50,344.95,345.70,245445,84851053.15,11109,155350,63.29

In [8]:
clean_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDAIND,EQ,15-May-2017,495.65,495.95,522.0,495.90,522.0,517.90,514.90,110264,5.677483e+07,3648,68819,62.41
1,MINDAIND,EQ,16-May-2017,517.90,523.70,568.0,500.10,551.0,545.60,543.53,1185514,6.443668e+08,28000,220287,18.58
2,MINDAIND,EQ,17-May-2017,545.60,555.00,571.0,541.15,559.0,560.10,558.38,465042,2.596686e+08,14208,181463,39.02
3,MINDAIND,EQ,18-May-2017,560.10,556.95,558.0,542.20,547.0,545.25,551.99,90333,4.986314e+07,3951,47989,53.12
4,MINDAIND,EQ,19-May-2017,545.25,549.70,588.8,547.00,560.0,560.80,568.56,371398,2.111632e+08,10466,184909,49.79

In [9]:
clean_data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,494.000000,494.000000
mean,725.454960,726.206579,739.548279,712.045951,725.613866,725.149899,726.152551,1.554882e+05,9.978910e+07,6066.582996,87039.127530,58.218907
std,364.838877,365.941476,372.368522,358.403590,365.417843,365.094333,365.687820,1.897702e+05,1.246845e+08,5527.186938,94977.222687,13.517435
min,264.400000,265.000000,269.350000,260.700000,266.000000,264.400000,267.440000,8.188000e+03,5.505349e+06,262.000000,6396.000000,17.000000
25%,347.100000,348.662500,354.862500,341.062500,346.887500,347.012500,347.782500,6.719725e+04,3.940619e+07,2993.500000,36382.000000,49.072500
50%,681.375000,680.475000,687.175000,672.025000,682.050000,681.375000,680.165000,1.049440e+05,6.181448e+07,4548.000000,56433.000000,58.125000
75%,1106.900000,1106.412500,1132.925000,1087.537500,1110.000000,1106.900000,1112.707500,1.739965e+05,1.140088e+08,7185.000000,97374.750000,67.635000
max,1331.100000,1334.150000,1358.000000,1310.000000,1338.000000,1331.100000,1339.460000,2.335284e+06,1.720436e+09,60739.000000,898519.000000,92.460000

### Query 1.2
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [10]:
clean_data.tail(90)['Close Price'].max()

388.05

In [11]:
clean_data.tail(90)['Close Price'].min()

264.4

In [12]:
clean_data.tail(90)['Close Price'].mean()

325.8327777777777

### Query 1.3
Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [13]:
clean_data['Date'] = pd.to_datetime(clean_data['Date'])

In [14]:
pd.to_datetime(clean_data['Date'])

0     2017-05-15
1     2017-05-16
2     2017-05-17
3     2017-05-18
4     2017-05-19
         ...
490   2019-05-07
491   2019-05-08
492   2019-05-09
493   2019-05-10
494   2019-05-13
Name: Date, Length: 494, dtype: datetime64[ns]

In [15]:
clean_data['Date'].max()-clean_data['Date'].min()

Timedelta('728 days 00:00:00')

### Query 1.4
In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. ( VWAP = sum(price*volume)/sum(volume) ) To know more about VWAP , visit - VWAP definition {Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [23]:
clean_data['Month'] = pd.DatetimeIndex(clean_data['Date']).month
clean_data['Year'] = pd.DatetimeIndex(clean_data['Date']).year
clean_data['VWAP'] = (clean_data['Close Price'] * clean_data['Total Traded Quantity']).cumsum() / clean_data['Total Traded Quantity'].cumsum()
clean_data_vwap = clean_data[['Month','Year','VWAP']]
group = clean_data_vwap.groupby(['Month','Year'])
group.first()

                  VWAP
Month Year
1     2018  855.159406
      2019  725.416677
2     2018  892.430695
      2019  702.370379
3     2018  916.414102
      2019  670.453397
4     2018  933.660396
      2019  653.830206
5     2017  517.900000
      2018  941.469087
      2019  643.911460
6     2017  561.541187
      2018  973.468001
7     2017  577.555554
      2018  986.912609
8     2017  644.040942
      2018  947.918880
9     2017  679.776395
      2018  874.963686
10    2017  712.607102
      2018  819.786234
11    2017  727.241113
      2018  773.327790
12    2017  804.116871
      2018  741.164953

### Query 1.5

Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days. Calculate the average price AND the profit/loss percentages over the course of last - 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year. {Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [23]:
def avg_price(N):
    return (data['Average Price'].tail(N).sum())/N
print("Average prices for last N days are as follows:")
print("Last 1 week",avg_price(5))
print("Last 2 weeks",avg_price(10))
print("Last 1 month",avg_price(22))
print("Last 3 months",avg_price(66))
print("Last 6 months",avg_price(132))
print("Last 1 year",avg_price(253))
print("Profit/Loss % for N days are as follows:")
def prof_loss(N):
    difference = (clean_data['Close Price'].tail(N).iloc[N-1] - clean_data['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/clean_data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/clean_data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",prof_loss(5))
print("Last 2 weeks",prof_loss(10))
print("Last 1 month",prof_loss(22))
print("Last 3 months",prof_loss(66))
print("Last 6 months",prof_loss(132))
print("Last 1 year",prof_loss(253))

Average prices for last N days are as follows:
Last 1 week 346.928
Last 2 weeks 352.51699999999994
Last 1 month 357.43136363636364
Last 3 months 333.25181818181824
Last 6 months 327.681893939394
Last 1 year 514.8776284584981
Profit/Loss % for N days are as follows:
Loss/Profit percentage for last N days are as follows:
Last 1 week 0.6087838817219953
Last 2 weeks 8.291056674880425
Last 1 month 0.11595883461372203
Last 3 months 16.538628786780695
Last 6 months 9.508624438324398
Last 1 year 213.04536889404258

### Query 1.6

Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [24]:
clean_data['Day_Perc_Change'] = clean_data['Close Price'].pct_change().fillna(0)
clean_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,MINDAIND,EQ,2017-05-15,495.65,495.95,522.00,495.90,522.00,517.90,514.90,110264,5.677483e+07,3648,68819,62.41,5,2017,517.900000,0.000000
1,MINDAIND,EQ,2017-05-16,517.90,523.70,568.00,500.10,551.00,545.60,543.53,1185514,6.443668e+08,28000,220287,18.58,5,2017,543.242873,0.053485
2,MINDAIND,EQ,2017-05-17,545.60,555.00,571.00,541.15,559.00,560.10,558.38,465042,2.596686e+08,14208,181463,39.02,5,2017,547.694931,0.026576
3,MINDAIND,EQ,2017-05-18,560.10,556.95,558.00,542.20,547.00,545.25,551.99,90333,4.986314e+07,3951,47989,53.12,5,2017,547.575623,-0.026513
4,MINDAIND,EQ,2017-05-19,545.25,549.70,588.80,547.00,560.00,560.80,568.56,371398,2.111632e+08,10466,184909,49.79,5,2017,549.785474,0.028519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,MINDAIND,EQ,2019-05-07,351.60,354.90,354.90,346.00,346.35,347.05,348.75,76556,2.669909e+07,6056,53021,69.26,5,2019,642.942796,-0.012941
491,MINDAIND,EQ,2019-05-08,347.05,350.00,352.00,346.00,350.00,350.35,349.79,41823,1.462933e+07,1764,25157,60.15,5,2019,642.782646,0.009509
492,MINDAIND,EQ,2019-05-09,350.35,352.00,352.30,340.15,342.95,342.00,345.22,67267,2.322195e+07,2327,48953,72.77,5,2019,642.518087,-0.023833
493,MINDAIND,EQ,2019-05-10,342.00,344.75,349.90,340.00,347.00,345.15,345.18,88441,3.052768e+07,3123,47078,53.23,5,2019,642.174597,0.009211
494,MINDAIND,EQ,2019-05-13,345.15,350.00,354.95,340.50,347.50,344.95,345.70,245445,8.485105e+07,11109,155350,63.29,5,2019,641.224835,-0.000579

### Query 1.7

Add another column 'Trend' whose values are: 'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5 'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1 'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1 'Positive' for 'Day_Perc_Change' in between 1 and 3 'Negative' for 'Day_Perc_Change' in between -1 and -3 'Among top gainers' for 'Day_Perc_Change' in between 3 and 7 'Among top losers' for 'Day_Perc_Change' in between -3 and -7 'Bull run' for 'Day_Perc_Change' >7 'Bear drop' for 'Day_Perc_Change' <-7.

In [28]:
if ((clean_data['Day_Perc_Change'] >= -0.5) & (clean_data['Day_Perc_Change'] <= 0.5)).all():
    clean_data['Trend'] = 'Slight or No change'
elif ((clean_data['Day_Perc_Change'] >= 0.5) & (clean_data['Day_Perc_Change'] <= 1)).all():
    clean_data['Trend'] = 'Slight positive'
elif ((clean_data['Day_Perc_Change'] <= -0.5) & (clean_data['Day_Perc_Change'] >= -1)).all():
    clean_data['Trend'] = 'Slight negative'
elif ((clean_data['Day_Perc_Change'] >= 1) & (clean_data['Day_Perc_Change'] <= 3)).all():
    clean_data['Trend'] = 'Positive' 
elif ((clean_data['Day_Perc_Change'] <= -1) & (clean_data['Day_Perc_Change'] >= -3)).all():
    clean_data['Trend'] = 'Negative'
elif ((clean_data['Day_Perc_Change'] >= 3) & (clean_data['Day_Perc_Change'] <= 7)).all():
    clean_data['Trend'] = 'Among top gainers'
elif ((clean_data['Day_Perc_Change'] <= -3) & (clean_data['Day_Perc_Change'] >= -7)).all():
    clean_data['Trend'] = 'Among top losers'
elif (clean_data['Day_Perc_Change'] > 7).all():
    clean_data['Trend'] = 'Bull run' 
elif (clean_data['Day_Perc_Change'] < -7).all():
    clean_data['Trend'] = 'Bear drop' 
clean_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,MINDAIND,EQ,2017-05-15,495.65,495.95,522.00,495.90,522.00,517.90,514.90,110264,5.677483e+07,3648,68819,62.41,5,2017,517.900000,0.000000,Slight or No change
1,MINDAIND,EQ,2017-05-16,517.90,523.70,568.00,500.10,551.00,545.60,543.53,1185514,6.443668e+08,28000,220287,18.58,5,2017,543.242873,0.053485,Slight or No change
2,MINDAIND,EQ,2017-05-17,545.60,555.00,571.00,541.15,559.00,560.10,558.38,465042,2.596686e+08,14208,181463,39.02,5,2017,547.694931,0.026576,Slight or No change
3,MINDAIND,EQ,2017-05-18,560.10,556.95,558.00,542.20,547.00,545.25,551.99,90333,4.986314e+07,3951,47989,53.12,5,2017,547.575623,-0.026513,Slight or No change
4,MINDAIND,EQ,2017-05-19,545.25,549.70,588.80,547.00,560.00,560.80,568.56,371398,2.111632e+08,10466,184909,49.79,5,2017,549.785474,0.028519,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,MINDAIND,EQ,2019-05-07,351.60,354.90,354.90,346.00,346.35,347.05,348.75,76556,2.669909e+07,6056,53021,69.26,5,2019,642.942796,-0.012941,Slight or No change
491,MINDAIND,EQ,2019-05-08,347.05,350.00,352.00,346.00,350.00,350.35,349.79,41823,1.462933e+07,1764,25157,60.15,5,2019,642.782646,0.009509,Slight or No change
492,MINDAIND,EQ,2019-05-09,350.35,352.00,352.30,340.15,342.95,342.00,345.22,67267,2.322195e+07,2327,48953,72.77,5,2019,642.518087,-0.023833,Slight or No change
493,MINDAIND,EQ,2019-05-10,342.00,344.75,349.90,340.00,347.00,345.15,345.18,88441,3.052768e+07,3123,47078,53.23,5,2019,642.174597,0.009211,Slight or No change
494,MINDAIND,EQ,2019-05-13,345.15,350.00,354.95,340.50,347.50,344.95,345.70,245445,8.485105e+07,11109,155350,63.29,5,2019,641.224835,-0.000579,Slight or No change

### Query 1.8

Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'. {Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [30]:
clean_data.groupby(clean_data.Trend).mean()['Total Traded Quantity']
clean_data.groupby(clean_data.Trend).median()['Total Traded Quantity']

Trend
Slight or No change    104944.0
Name: Total Traded Quantity, dtype: float64

### Query 1.9

SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [36]:
clean_data.to_csv('week2.csv')